.history
.vscode
logs
fatal
.idea
victoria-logs-data
dump
record
bin
.DS_Store
*.db
!plugin/record
*.flv
pullcf.yaml
*.zip
!plugin/hls/hls.js.zip
__debug*
.cursorrules
example/default/*
!example/default/main.go
!example/default/config.yaml
shutdown.sh
!example/test/test.db
*.mp4
shutdown.bat