[submodule "engine"]
	path = engine
	url = https://github.com/Monibuca/engine
[submodule "instancemanager"]
	path = instancemanager
	url = https://github.com/Monibuca/monica
[submodule "docs"]
	path = docs
	url = https://github.com/Monibuca/docs
[submodule "plugins/rtmp"]
	path = plugins/rtmp
	url = https://github.com/Monibuca/rtmpplugin
[submodule "plugins/hls"]
	path = plugins/hls
	url = https://github.com/Monibuca/hlsplugin
[submodule "plugins/hdl"]
	path = plugins/hdl
	url = https://github.com/Monibuca/hdlplugin
[submodule "plugins/record"]
	path = plugins/record
	url = https://github.com/Monibuca/recordplugin
[submodule "plugins/jessica"]
	path = plugins/jessica
	url = https://github.com/Monibuca/jessicaplugin
[submodule "plugins/logrotate"]
	path = plugins/logrotate
	url = https://github.com/Monibuca/logrotateplugin
[submodule "plugins/cluster"]
	path = plugins/cluster
	url = https://github.com/Monibuca/clusterplugin
[submodule "plugins/gateway"]
	path = plugins/gateway
	url = https://github.com/Monibuca/gatewayplugin
[submodule "plugins/rtsp"]
	path = plugins/rtsp
	url = https://github.com/Monibuca/rtspplugin.git
[submodule "plugins/ts"]
	path = plugins/ts
	url = https://github.com/Monibuca/tsplugin.git
